# Intellij
.idea/
*.iml
*.iws
classes/

# Mac
.DS_Store

# Maven
log/

# Gradle
.gradle/
/buildSrc/.gradle/
.gradletasknamecache

# Build
/build/
/buildSrc/build

# Kotlin
/.kotlin/
/buildSrc/.kotlin/

# logs
backend.log

# Configuration
smtp.env

/out/
/libs/

# Distribution
/radar-backend-*